.vscode/**
.vscode-test/**
.github/**
.claude/**
CLAUDE.md
scripts/**
utils/**
dist/**
node_modules/**
storage/legacy/**
storage/*.svg
**/*.vsix
.gitignore
vsc-extension-quickstart.md
storage/screenshots/**
